In [1]:
from dataclasses import dataclass, field
import random

# implementing default values in data classes

In [2]:
def price_func():
    return float(random.randrange(20, 40))

In [3]:
@dataclass
class Book:
    # you can define default values when attributes are declared
    title: str = "No Title"
    author: str = "No Author"
    pages: int = 0
    price: float = field(default_factory=price_func)

In [4]:
# Create a default book object
b1 = Book()
print(b1)

Book(title='No Title', author='No Author', pages=0, price=25.0)

In [5]:
# Create a specified book, price is set by field operator
b1 = Book("War and Peace", "Leo Tolstoy", 1225)
b2 = Book("The Catcher in the Rye", "JD Salinger", 234)
print(b1)
print(b2)

Book(title='War and Peace', author='Leo Tolstoy', pages=1225, price=30.0)
Book(title='The Catcher in the Rye', author='JD Salinger', pages=234, price=23.0)